* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Cream);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding: 0 1.2rem;
}
main {
  max-width: 350px;
  margin: 5rem auto;
}
section.balance {
  background-color: var(--Soft-red);
  color: var(--white);
  border-radius: 8px;
  padding: 18px;
  position: relative;
}
section.balance p:first-of-type {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: var(--Cream);
}
section.balance p:last-of-type {
  font-size: 1.45rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
section.balance div.circle-border {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
section.balance div.circle-shape {
  width: 30px;
  height: 30px;
  background-color: var(--Dark-brown);
  border-radius: 50px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
/* Extilizacao da section do container*/
section.container {
  background-color: var(--Very-pale-orange);
  border-radius: 8px;
  margin-top: 12px;
  padding: 25px 1.2em;
}
section.container h1 {
  font-size: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--Dark-brown);
}
section.container .chart {
  color: var(--Medium-brown);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  height: 180px;
}
section.container .chart div {
  width: 33px;
  background: var(--Soft-red);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 0.7rem;
  cursor: pointer;
  position: relative;
}
section.container .chart div:hover {
  filter: opacity(80%);
}
section.container .chart div.balance-mon,
section.container .chart div.balance-tue,
section.container .chart div.balance-wed,
section.container .chart div.balance-thu,
section.container .chart div.balance-fri,
section.container .chart div.balance-sat,
section.container .chart div.balance-sun {
  height: 30px;
  width: 53px;
  background: var(--Dark-brown);
  display: none;
  line-height: 30px;
  color: var(--white);
  font-size: 0.9rem;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2px;
}
section.container .chart div.mon span {
  position: absolute;
  bottom: -27px;
  left: 4px;
}
div.mon:hover > div.balance-mon {
  display: block;
}
section.container .chart div.tue span {
  position: absolute;
  bottom: -27px;
  left: 8px;
}
div.tue:hover > div.balance-tue {
  display: block;
}
section.container .chart div.wed span {
  position: absolute;
  bottom: -27px;
  left: 4px;
}
div.wed:hover > div.balance-wed {
  display: block;
}
section.container .chart div.thu span {
  position: absolute;
  bottom: -27px;
  left: 6px;
}
div.thu:hover > div.balance-thu {
  display: block;
}
section.container .chart div.fri span {
  position: absolute;
  bottom: -27px;
  left: 10px;
}
div.fri:hover > div.balance-fri {
  display: block;
}
section.container .chart div.sat span {
  position: absolute;
  bottom: -27px;
  left: 7px;
}
div.sat:hover > div.balance-sat {
  display: block;
}
section.container .chart div.sun span {
  position: absolute;
  bottom: -27px;
  left: 6px;
}
div.sun:hover > div.balance-sun {
  display: block;
}
section.container .chart span {
  font-size: 0.8rem;
}
hr {
  margin: 45px 0 25px 0;
  border: 1px solid var(--Cream);
}
div.total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.total .total-month p:first-child {
  color: var(--Medium-brown);
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}
div.total .total-month p:last-child {
  font-size: 1.78rem;
  color: var(--Dark-brown);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
div.total .last-month {
  text-align: right;
  font-size: 0.8rem;
}
div.total .last-month p:first-child {
  color: var(--Dark-brown);
  font-weight: 400;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;
}
div.total .last-month p:last-child {
  color: var(--Medium-brown);
  font-size: 0.9rem;
}
@media screen and (max-width: 360px) {
  section.container .chart div.balance-mon,
  section.container .chart div.balance-tue,
  section.container .chart div.balance-wed,
  section.container .chart div.balance-thu,
  section.container .chart div.balance-fri,
  section.container .chart div.balance-sat,
  section.container .chart div.balance-sun {
    width: 45px;
    font-size: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
    main {
        width: 450px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}
